.App {
  text-align: center;
}
body{
  height: 90vh;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}
.countBox{
  width: 200px;
  height: 200px;
  background-color: #fff;
}
.countBox h1{
  text-align: center;
  font-size: 78px;
}
.countBox button{
  margin-left: 10px;
  cursor: pointer;
  background-color: transparent;
  padding: 5px 12px;
  font-size: 20px;
}
button:hover{
  color: #fff;
}
.btnBox{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#incBtn{
  border: 2px solid green;
}
#incBtn:hover{
  background-color: green;
}
#decBtn{
  border: 2px solid chocolate;
}
#decBtn:hover{
  background-color: chocolate;
}
#resetBtn{
  border: 2px solid chocolate;
}
#resetBtn:hover{
  background-color: chocolate;
}